<%- include("partials/header") %>
  <main>
    <form action="/delete" method="POST">
      <input type="hidden" name="id" value="<%= post.id %>">
      <div>
        <p><%= post.title %></p>
        <p><%= post.content %></p>
      </div>
      <p>Are you sure you want to remove this post?</p>
      <div>
        <button type="submit">Yes</button>
        <a href="/post/<%= post.id %>">
          <button type="button">No</button>
        </a>
      </div>
    </form>
  </main>
<%- include("partials/footer") %>