<%- include("partials/header") %>
  <main>
    <p>Edit Post</p>
    <form action="/update" method="POST">
      <div>
        <input type="hidden" name="id" value="<%= post.id %>">
        <label for="title">title</label>
        <input type="text" name="title" id="title" value="<%= post.title %>" minlength="2" maxlength="45" autofocus required />
      </div>
      <div>
        <label for="content">content</label>
        <textarea name="content" id="content" style="height: 100px" required><%= post.content %></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
<%- include("partials/footer") %>