<%- include("partials/header") %>
  <main>
    <div>
      <div>
        <p><%= post.title %></p>
        <p><%= post.content %></p>
      </div>
      <div>
        <a href="/update/<%= post.id %>">
          <button type="button">Edit</button>
        </a>
        <a href="/delete/<%= post.id %>">
          <button type="button">Delete</button>
        </a>
      </div>
    </div>
  </main>
<%- include("partials/footer") %>